<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Draksha">
    <meta name="description" content="This will predict the genere of an article">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="home.css">
    <!-- <script src ="clock.js"></script>   -->
    <title>Genere Predictor</title>
</head>
<body>
    <div>
        <h1>Genere Predictor</h1>
        <form action="{{url_for('result')}}" method="POST">
            <input type="text" name="message" placeholder="enter your article" required>
            <input type="submit" class="enter" value="submit">
        </form>
    </div>    
</body>
</html>