body{
    background-color: black; 
    width:90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    background: linear-gradient(to bottom,grey, rgba(0, 183, 255, 0.658));
    display: inline-block;
    color: aliceblue;        
    font-size: 3vw;
    text-align: center;                
    padding: 3vw;
    border-radius: 2vw;
}
h1{
    color: rgb(235, 217, 217);
}       